.env
.env.local
bin/
dist/
*.exe
*.test
*.out
vendor/

app/node_modules/
app/.expo/
app/dist/
app/web-build/
app/*.jks
app/*.p8
app/*.p12
app/*.key
app/*.mobileprovision
app/*.orig.*
app/web-build/

.DS_Store
*.log
.idea/
.vscode/
